<div class="event-profile mt-5 user-card" data-controller="edit-user" data-edit-user-target="userCard">
  <i class="fas fa-pen fa-xs ml-2" data-action="click->edit-user#displayForm"></i>
  <div class="user-infos" data-edit-user-target="infos">
    <%= @user.photo.attached? ? cl_image_tag(@user.photo.key) : image_tag('user.jpg') %>
    <h5 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h5>
    <ul>
      <li><%= Time.now.year - @user.birth_date.year %> ans</li>
      <% if @user.events.count == 0 || @user.events.count == 1 %>
        <li>Organisé <%= @user.events.count %> jeu</li>
      <% else %>
        <li>Organisé <%= @user.events.count %> jeux</li>
      <% end %>
      <% if @user.participations.select { |p| p.statut == "Accepted"}.count == 0 %>
          <li>Aucune participation</li>
        <% elsif @user.participations.select { |p| p.statut == "Accepted"}.count == 1 %>
          <li>Participé à 1 jeu</li>
        <% else %>
          <li>Participé aux <%= @user.participations.select { |p| p.statut == "Accepted"}.count %> jeux</li>
      <% end %>
    </ul>
  </div>

  <%= simple_form_for @user, html: { class: @user.errors.any? ? 'd-block' : 'd-none', 'data-edit-user-target': 'form', 'data-action': 'submit->edit-user#update' } do |f| -%>
    <%= f.input :first_name %>
    <%= f.input :last_name  %>
    <%= f.input :birth_date, { start_year: Time.now.year - 100, end_year: Time.now.year - 18} %>
    <%= f.input :email %>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Update user", class: "btn-flat" %>
  <% end -%>
</div>