<div class="card">
  <%= event.boardgame.photo.attached? ? cl_image_tag(event.boardgame.photo.key, class:"img_game") : image_tag('explodingkittens.jpg', class:"img_game") %>
  <%= event.user.photo.attached? ? cl_image_tag(event.user.photo.key, class:"img_profile") : image_tag('user.jpg', class:"img_profile") %>
  <div class="card-info">
    <h3><%= event.boardgame.name %></h3>
    <div class="d-flex align-items-baseline">
      <i class="fas fa-clock icon-card orange mr-2"></i>
      <p><%= event.start_time > Time.current ? "Dans #{distance_of_time_in_words(event.start_time - Time.current)}" : "Évènement terminé" %></p>
    </div>
    <p class="event-description"><%= event.description %></p>
    <div class="d-flex align-items-baseline justify-content-between event-icons">
      <i class="fas fa-map-marker-alt icon-card blue"></i>
      <p class="mr-4"> <%= event.city %></p>
      <i class="fas fa-signal icon-card violet"></i>
      <p class="mr-4"><%= event.boardgame.category %></p>
      <i class="fas fa-users icon-card orange"></i>
      <p><%= event.participations.select { |p| p.statut == "Accepted" }.count + 1 %> / <%= event.nb_players %></p>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style='<%= "width: #{event.completion_percentage}%" %>' aria-valuenow='<%= "#{event.completion_percentage}%" %>' aria-valuemin="0" aria-valuemax="100"><%= event.completion_percentage %> %</div>
    </div>
  </div>
</div>
