<div class="row background-image d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @event.boardgame.photo.attached? ? cl_image_path(@event.boardgame.photo.key) : asset_path('explodingkittens.jpg') %>')">
  <h1 class="mb-5 text-center"><%= @event.boardgame.name %></h1>
</div>

<div class="mt-5 d-flex align-items-start">
  <div class="event-game-details">
    <div class="event-details">
      <h2>Description de l’événement</h2>
      <div class="d-flex">
        <p class="mr-3">Invitez vos amis : </p>
        <%= link_to "https://wa.me/?text=Viens%20jouer%20à%20#{@event.boardgame.name}%20avec%20moi%20ici%20https://www.leplateau.app/events/#{@event.id}", target: '_blank' do %>
          <i class="fab fa-whatsapp" style="margin-right: 25px; font-size: x-large; color: #25D366"></i>
        <% end %>
        <%= link_to "mailto:?subject=Hey! Faisons une partie de #{@event.boardgame.name}&body=Rejoins%20moi%20sur%20cette%20partie%20https://www.leplateau.app/events/#{@event.id}", target: '_blank' do %>
          <i class="far fa-envelope" style="font-size: x-large"></i>
        <% end %>
      </div>
      <p><%= @event.description %></p>
    </div>
    <div class="event-show-profile">
      <%= link_to user_path(@event.user), class:'text-white text-decoration-none d-flex align-items-center' do %>
      <div class="user-image">
        <%= @event.user.photo.attached? ? cl_image_tag(@event.user.photo.key) : image_tag('user.jpg') %>
      </div>
      <div class="user-infos ml-3">
          <h5><%= @event.user.first_name %> <%= @event.user.last_name %></h5>
          <div class="user-details d-flex justify-content-between">
            <%= Time.now.year - @event.user.birth_date.year %> ans
            <% if @event.user.events.count == 0 || @event.user.events.count == 1 %>
              <p>Organisé <%= @event.user.events.count %> jeu</p>
            <% else %>
              <p>Organisé <%= @event.user.events.count %> jeux</p>
            <% end %>
            <% if @event.user.participations.select { |p| p.statut == "Accepted"}.count == 0 %>
              <p>Aucune participation</p>
            <% elsif @event.user.participations.select { |p| p.statut == "Accepted"}.count == 1 %>
              <p>Participé à 1 jeu</p>
            <% else %>
              <p>Participé aux <%= @event.user.participations.select { |p| p.statut == "Accepted"}.count %> jeux</p>
            <% end %>
          </div>
      </div>
      <% end %>
    </div>
    <div class="game-card mt-5">
      <h2><%= @event.boardgame.name %></h2>
      <div class="game-infos-icons d-flex">
        <div class="game-infos-icon d-flex align-items-baseline">
          <i class="fas fa-puzzle-piece icon-card seablue mr-2"></i>
          <p><%= @event.boardgame.category %></p>
        </div>
        <div class="game-infos-icon d-flex align-items-baseline">
          <i class="fas fa-signal icon-card violet mr-2"></i>
          <p><%= @event.boardgame.level %></p>
        </div>
        <div class="game-infos-icon d-flex align-items-baseline">
          <i class="fas fa-clock icon-card orange mr-2"></i>
          <p><%= @event.boardgame.duration %> min</p>
        </div>
      </div>
      <p><%= @event.boardgame.description %></p>
    </div>
  </div>
  <div class="event-infos">
    <div class="d-flex align-items-baseline">
      <i class="fas fa-calendar-alt icon-card pink mr-2"></i>
      <p class="mr-2"><%= @event.start_time.strftime("%e %b %l:%M") %> - <%= @event.end_time.strftime("%H:%M") %></p>
    </div>
    <div class="d-flex align-items-baseline">
      <i class="fas fa-users icon-card orange mr-2"></i>
      <p class="mr-2"><%= @event.participations.select { |p| p.statut == "Accepted" }.count + 1 %> / <%= @event.nb_players %></p>
    </div>
    <div class="d-flex align-items-baseline">
      <i class="fas fa-map-marker-alt icon-card blue mr-2"></i>
      <p class="mr-2"><%= @event.address %></p>
    </div>
    <div class="btn-wrap text-center d-flex mb-3">
      <%= link_to "Chatroom", event_chatroom_path(@event), class: 'btn-flat clair' %>
      <i class="fas fa-envelope" id = "notifs" data-event_id =" <%=@event.id%>"></i>
    </div>
    <% if current_user == @event.user %>
      <!-- Button trigger modal -->
      <button type="button" class="btn-flat" data-toggle="modal" data-target="#exempleModal_<%= @event.id %>">
        Liste des participants
        <% if current_user.ordered_requests(@event.id).where(statut: "Pending").count >=1 %>
          <i class="fas fa-exclamation-circle icon-card"></i>
        <% end %>
      </button>
    <% else %>
      <div>
        <% if @event.users.include?(current_user) %>
          <% if @current_user_participation.statut == "Declined" %>
            <h6 class ="text-danger mb-0">Décliné <i class="far fa-times-circle"></i></h6>
          <% elsif @current_user_participation.statut == "Accepted"%>
            <h6 class ="text-success mb-0">Participation acceptée !</h6>
          <% elsif @current_user_participation.statut == "Pending"%>
            <h6 class="text-warning mb-0">Statut: en attente <i class="far fa-clock"></i></h6>
            <%= link_to "Annuler ma participation", participation_path(@current_user_participation), method: :delete, data: {confirm: "Êtes-vous sûr ?"}, class: 'text-warning text-decoration-none' %>
          <% end %>
        <% else %>
          <!-- Button trigger modal -->
          <button type="button" class="btn-flat" data-toggle="modal" data-target="#exampleModal">
            Rejoindre
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/modal_rejoindre' %>
<%= render 'shared/modal_liste_participants', user: @event.user, request: @request, event: @event, participation: @event.participations, boardgame: @boardgame %>
