<div class="banner-dashboard" style="background-image: url(<%= asset_path('photo_dashboard.jpg') %>)">
  <div class="container">
    <h1 class="text-center">Dashboard</h1>
  </div>
</div>

<div class="container-all">
  <div class="container-onglets">
    <div class="onglets <%= !params[:tab] ? "active-tab" : "" %>" data-anim="1">Mes évènements</div>
    <div class="onglets <%= params[:tab] == "2" ? "active-tab" : "" %>" data-anim="2">Mes participations</div>
  </div>

  <div class="content <%= !params[:tab] ? "active-content" : "inactive-content" %> pb-3" data-anim="1">
    <div class="content-title">
      <% if current_user.events.size > 1 %>
        <h3 class="mt-5">J'ai <%= current_user.events.size %> évènements créés</h3>
      <% elsif current_user.events.size >= 1 %>
        <h3 class="mt-5">J'ai <%= current_user.events.size %> évènement créé</h3>
      <% else %>
        <h3 class="mt-5">Je n'ai pas encore créé d'évènement</h3>
      <% end %>
    </div>
    <div class="content-dashboard-cards">
      <% current_user.events.each do |event| %>
        <%= render 'shared/dashboard_card_mes_events', :user => event.user, :event => event, :participation => @participation, :boardgame => @boardgame %>
      <% end %>
    </div>
  </div>

  <div class="content <%= params[:tab] == "2" ? "active-content" : "inactive-content" %> pb-3" data-anim ="2">
    <div class="content-title">
      <% if current_user.participations.size > 1 %>
        <h3 class="mt-5">J'ai <%= current_user.participations.size %> parties à venir</h3>
      <% elsif current_user.participations.size >= 1 %>
        <h3 class="mt-5">J'ai <%= current_user.participations.size %> partie à venir</h3>
      <% else %>
        <h3 class="mt-5">Je n'ai pas encore rejoint d'évènement</h3>
      <% end %>
    </div>
    <div class="content-dashboard-cards">
      <% current_user.participations.each do |participation| %>
        <%= render 'shared/dashboard_card_mes_participations', :user => @user, :event => @event, :participation => participation, :boardgame => @boardgame %>
      <% end %>
    </div>
  </div>
</div>
