<div class="row">
  <div class="col banner">
    <h1 class="mb-5">Le plateau</h1>
    <h2 class="home-heading2" class="mt-3">Trouve ton jeu de société, tes buddies ou les deux !</h2>
    <%= form_tag events_path, method: :get, id: 'search-category-global-homepage' do %>
      <div class="search-category-homepage">
        <%= text_field_tag :location,
          params[:location],
          class: " form-control-homepage",
          placeholder: "Tapez le nom de votre ville pour commencer",
          id: "event_address"
        %>
      </div>
      <div class="search-button">
        <%= button_tag type: 'submit', class: "btn btn-search rounded-pill ms-n3" do %>
          <i class="fa fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col banner img_container">
    <%= image_tag "jeux.png", class:"image-banner" %>
  </div>
</div>




<div class="row">
  <h2 class="home-heading2">Découvrez de nouveaux jeux</h2>
  <div class="cards">
    <% Event.all.last(5).each do |event| %>
      <%= link_to event_path(event), class:' text-white text-decoration-none' do %>
        <%= render "shared/card", event: event %>
      <% end %>
    <% end %>
    <div class="card card-solo">
      <h3 clas="text-center">Découvrir tous les événements de jeux de société...</h3>
      <%= link_to "Continuer", events_path, class: "btn-flat" %>
    </div>
  </div>
</div>

<div class="row d-flex align-items-center">
  <div class="col-8">
    <h2 class="home-heading2">Créez un événement de jeu de société</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum vestibulum malesuada enim lorem orci viverra tristique orci at. Aliquam, morbi quam a, mus. Malesuada amet pulvinar augue netus diam neque. Ipsum feugiat nisl metus, nunc in purus odio faucibus.</p>
  </div>
  <div class="col-4">
    <%= image_tag "horn.png", class: "image-right" %>
  </div>
</div>
<div class="row d-flex align-items-center">
  <div class="col-4">
    <%= image_tag "box.png", class: "image-left" %>
  </div>
  <div class="col-8">
    <h2 class="home-heading2">Participer à un événement de jeu de société</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum vestibulum malesuada enim lorem orci viverra tristique orci at. Aliquam, morbi quam a, mus. Malesuada amet pulvinar augue netus diam neque. Ipsum feugiat nisl metus, nunc in purus odio faucibus.</p>
  </div>
</div>

<div class="row">
  <h2 class="home-heading2">Nos clients heureux</h2>
  <div class="testimonials">
    <%= render "shared/testimonial" %>
  </div>
</div>

<div class="row">
  <h2 class="home-heading2">Nos offres</h2>
  <div class="pricings">
    <%= render "shared/pricing" %>
  </div>
</div>
